<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.malong.blog.dao.AdMapper">
    <insert id="insertAnAd" parameterType="advertisement">
        insert into myblog.t_advertisement (path, icon, title, des, mini_des, email, state, user_id, submit_time)
        values (#{path}, #{icon}, #{title}, #{des}, #{miniDes}, #{email}, #{state}, #{userId.id}, #{submitTime});
    </insert>
    <update id="updateState">
        update myblog.t_advertisement
        set state= #{state}
        where id = #{id};
    </update>
    <delete id="deleteComment">
        delete
        from myblog.t_advertisement
        where id = #{id};
    </delete>
    <delete id="deleteCommentsByBatch">
        delete
        from myblog.t_advertisement
        where id in
        <foreach collection="array" item="id" index="no" separator="," open="(" close=")">
            #{id}
        </foreach>;
    </delete>
    <resultMap id="adMap" type="advertisement">
        <id column="id" property="id"/>
        <result column="path" property="path"/>
        <result column="icon" property="icon"/>
        <result column="title" property="title"/>
        <result column="des" property="des"/>
        <result column="mini_des" property="miniDes"/>
        <result column="email" property="email"/>
        <result column="state" property="state"/>
        <result column="submit_time" property="submitTime"/>
        <association column="user_id" property="userId" select="cn.malong.blog.dao.UserInfoMapper.getUserInfoById"/>
    </resultMap>
    <select id="getAdDataByLimit" resultMap="adMap">
        select *
        from myblog.t_advertisement
        limit #{startIndex},#{limit};
    </select>
    <select id="allAdCount" resultType="int">
        select count(id)
        from myblog.t_advertisement;
    </select>
    <select id="queryAdById" resultMap="adMap">
        select *
        from myblog.t_advertisement
        where id = #{id};
    </select>
    <select id="queryAllAdsIsPass" resultMap="adMap">
        select *
        from myblog.t_advertisement
        where state = '审核通过';
    </select>
</mapper>