<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.malong.blog.dao.CommentsMapper">

    <select id="getCommentDataByLimit" resultType="comment">
        select *
        from myblog.t_comment
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getCommentDataByNicknameAndContent" resultType="comment">
        select * from t_comment
        <where>
            <if test="nickname != null">
                nickname like concat('%',#{nickname},'%')
            </if>
            <if test="content != null">
                and content like concat('%',#{content},'%')
            </if>
        </where>
        limit #{startIndex},#{pageSize};
    </select>

    <delete id="deleteComment">
        delete
        from myblog.t_comment
        where id = #{id};
    </delete>

    <delete id="deleteCommentsByBatch">
        delete from t_comment where id in
        <foreach collection="array" item="id" index="no" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countComment" resultType="int">
        select count(id) from t_comment;
    </select>

    <select id="countCommentsByBlogId" resultType="int">
        select count(id)
        from myblog.t_comment
        where blog_id = #{blogId};
    </select>
</mapper>
