<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.malong.blog.dao.UserInfoMapper">

    <!-- select -->
    <select id="getUserInfoByUsername" resultType="userInfo">
        select *
        from myblog.t_user
        where username = #{usernmae};
    </select>

    <select id="getAllUserData" resultType="userInfo">
        select *
        from myblog.t_user;
    </select>

    <select id="getUserDataByLimit" resultType="userInfo">
        select *
        from myblog.t_user
        where role = 'user'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimit_username" resultType="userInfo">
        select *
        from myblog.t_user
        where username = #{username}
          and role = 'user'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimit_nickname" resultType="userInfo">
        select *
        from myblog.t_user
        where nickname = #{nickname}
          and role = 'user'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimit_nick_username" resultType="userInfo">
        select *
        from myblog.t_user
        where username = #{username}
          and nickname = #{nickname}
          and role = 'user'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimitAdmin" resultType="userInfo">
        select *
        from myblog.t_user
        where role = 'admin'
           or role = 'root'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimit_usernameAdmin" resultType="userInfo">
        select *
        from myblog.t_user
        where username = #{username}
            and role = 'admin'
           or role = 'root'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimit_nicknameAdmin" resultType="userInfo">
        select *
        from myblog.t_user
        where nickname = #{nickname}
            and role = 'admin'
           or role = 'root'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserDataByLimit_nick_usernameAdmin" resultType="userInfo">
        select *
        from myblog.t_user
        where username = #{username}
            and nickname = #{nickname}
            and role = 'admin'
           or role = 'root'
        limit #{startIndex},#{pageSize};
    </select>

    <select id="getUserInfoById" resultType="userInfo">
        select *
        from myblog.t_user
        where id = #{id}
    </select>

    <!--  update  -->
    <update id="updateUserInfo">
        update myblog.t_user
        set username=#{username},
            nickname=#{nickname},
            password=#{password},
            email=#{email},
            avatar=#{avatar},
            role=#{role}
        where id = #{id}
    </update>

    <update id="updateAvatar">
        update myblog.t_user
        set avatar=#{avatar}
        where id = #{id}
    </update>
</mapper>
