<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <title th:text="服务器出错了"></title>
    <link rel="stylesheet" th:href="@{/component/pear/css/pear.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}"/>
</head>
<body>
<div style="width: 100%">
    <div class="content">
        <img alt="" th:src="@{/500.svg}">
        <div class="content-r">
            <h1>500</h1>
            <p>抱歉，服务器出错了</p>
            <button id="turnToArticle" class="pear-btn pear-btn-primary">返回首页</button>
        </div>
    </div>
</div>

<script th:src="@{/component/layui/layui.js}"></script>
<script th:src="@{/component/pear/pear.js}"></script>
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    let basePath = [[${#httpServletRequest.getContextPath()}]];
    $('#turnToArticle').click(function () {
        window.location = basePath + '/user/toArticle';
    })
</script>
</body>
</html>
